body{
background-color: skyblue;
}
textarea{
    background-color: black;
    color: white;
    padding: 15px 10px;
    text-align: justify;
    border: none;
    border: radius 20px;
}
h1{
    color:navy;
    text-align: justify;
}